*{
    margin: 0px;
    font-family: "inter";
}
#logo{
    margin-left: 50px;
    margin-top: 50px;
    
}
#título-menusuperior {
    margin-left: 150px;
    margin-top: 50px;

}
#texto-menusuperior {
    margin-left: 150px;
    margin-top: 15px;
    padding-bottom: 100px;

}
#menusuperior{
    background-image: url(imagens/fundo-menusuperior.svg);
    color: aliceblue;
}
#menuinformacional{
    background-color: #EAECE5;
    display: grid;
    grid-auto-flow: column;
    columns: auto;
}
.ícones{
    margin: 50px 0px 50px 100px;
    padding: 15px;
    
}
#secaovideo{
    display: grid;
    grid-auto-flow: column;
    columns: auto;
}
.textoinformativo{
    display: flex;
    align-items: center ;
    
}
#titulovideo{
    color:#247BA0 ;
    margin-top: 50px;
}
#video{
    margin: 50px 25px 50px 100px;
}
#carrossel{
    background-color:#247BA0 ;
    padding: 40px;
}
#titulo-carrossel{
    color: white;
    text-align: center;
    font-size: 25px;
}
#div-cards{
    display: grid;
    grid-auto-flow: column;
}
.card{
    margin-top: 25px;
    margin-left: 50px ;
}
#seta-esquerda{
    display: none;
    
}
#Bruna{
    display: none;
}
.seta{
    margin-top: 55%;
    cursor: pointer;
}
.seta:hover{
    transform: translateY(-7px);
    transition-duration: 0.5s;
}
#formulario{
    text-align: center;
    padding: 40px;
    
}
#titulo-formulario{
    font-size: 25px;
    margin: 25px;
    color: #383838;
}
input{
    width: 300px;
    height: 30px;
    background-color:#EAECE5 ;
    border: 0px;
    border-radius: 5px;
    padding-left: 10px;
    margin: 15px;
}
button{
    background-color: #247BA0 ;
    color: #EAECE5;
    border: 0px;
    border-radius: 5px;
    height: 40px ;
    width: 250px ;
    margin-bottom: 50px;
    font-weight: bolder;
    cursor: pointer;
}
button:hover{
    background-color: #318fb8;
    color: white;
    transform: translateY(-7px);
    box-shadow: 0px 15px 20px #051030;
    transition-duration: 0.5s;
}